<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Соискатели</title>
    <link rel="stylesheet" href="/static/css/resume_list.css" th:href="@{/css/resume_list.css}">
    <link rel="stylesheet" href="/static/css/header_styles.css" th:href="@{/css/header_styles.css}">
    <link rel="stylesheet" href="/static/css/basement.css" th:href="@{/css/basement.css}">
    <link rel="stylesheet" href="/static/css/filter.css" th:href="@{/css/filter.css}">
    <link rel="stylesheet" href="/static/css/button.css" th:href="@{/css/button.css}">
</head>
<body>
<div class="header">
    <div class="header-logo">
        <img src="/static/image/logo.png" th:src="@{/image/logo.png}" alt="">
        <span class="search-text">Поиск соискателей</span>
    </div>
</div>

<div class="filter-wrapper">
    <div class="filter-panel">
        <div class="city-live-filter">
            <label for="city">Город проживания</label>
            <br>
            <select id="city" name="city">
                <option value="">Выберите город</option>
                <th:block th:each="c : ${city}">
                    <option th:value="${c}" th:text="${c}"></option>
                </th:block>
            </select>
        </div>
        <br>

        <div class="salary-filter">
            <label for="salary">Зарплата от</label>
            <br>
            <input class="input" id="salary"><br>
        </div>
        <br>

        <div class="foreign-language-filter">
            <label for="foreign-language">Иностранный язык</label>
            <br>
            <select id="foreign-language" name="foreignLanguage">
                <option value="">Выберите язык</option>
                <th:block th:each="f : ${foreignLanguage}">
                    <option th:value="${f}" th:text="${f}"></option>
                </th:block>
            </select>
        </div>
        <br>

        <div class="language-level-filter">
            <label for="language-level">Уровень языка</label>
            <br>
            <select id="language-level" name="languageLevel">
                <option value="">Выберите уровень</option>
                <th:block th:each="l : ${languageLevel}">
                    <option th:value="${l}" th:text="${l}"></option>
                </th:block>
            </select>
        </div>
        <br>

        <div class="education-filter">
            <label>Образование</label><br>
            <th:block th:each="edu : ${education}">
                <input type="checkbox" th:id="'education_' + ${edu}" th:name="'education'" th:value="${edu}">
                <label th:for="'education_' + ${edu}" th:text="${edu}"></label><br>
            </th:block>
        </div>
        <br>

        <div class="schedule-work-filter">
            <label>График работы</label><br>
            <th:block th:each="schedule : ${scheduleWork}">
                <input type="checkbox" th:id="'schedule_work_' + ${schedule}" th:name="'schedule_work'" th:value="${schedule}">
                <label th:for="'schedule_work_' + ${schedule}" th:text="${schedule}"></label><br>
            </th:block>
        </div>
        <br>

        <div class="rights-category-filter">
            <label>Категория прав</label><br>
            <th:block th:each="rights : ${rightsCategory}">
                <input type="checkbox" th:id="'rights_category_' + ${rights}" th:name="'rights_category'" th:value="${rights}">
                <label th:for="'rights_category_' + ${rights}" th:text="${rights}"></label><br>
            </th:block>
        </div>
        <br>

        <div class="floor-filter">
            <label>Пол</label><br>
            <input type="radio" id="floor_any" name="floor" value="" checked>
            <label for="floor_any">Любой пол</label><br>
            <th:block th:each="f : ${floor}">
                <input type="radio" th:id="'floor_' + ${f}" name="floor" th:value="${f}">
                <label th:for="'floor_' + ${f}" th:text="${f}"></label><br>
            </th:block>
        </div>
        <br>

        <div class="educational-filter">
            <label for="educational">Учебное заведение</label>
            <br>
            <input class="input" id="educational"><br>
        </div>
        <br>

        <div class="specialization-filter">
            <label for="specialization">Специальность</label>
            <br>
            <input class="input" id="specialization"><br>
        </div>
        <br>

        <div class="graduation-year-filter">
            <label for="graduation_year">Год окончания</label>
            <br>
            <input class="input" id="graduation_year"><br>
        </div>
        <br>

        <div class="view"></div>
        <br>

        <div class="button-add">
            <button onclick="addInput()" class="custom-button">Добавить новый навык</button>
            <script type="text/javascript" th:src="@{/js/addInput.js}"></script>
        </div>
        <br>
    </div>
</div>

<div class="button-wrapper">
    <div class="oval-container-analysis">
        <button class="custom-button">Навыков</button>
        <button class="custom-button">Зарплаты</button>
        <button class="custom-button">График работы</button>
    </div>
    <div class="clear-search-buttons">
        <button class="custom-button">Очистить</button>
        <button class="custom-button">Поиск</button>
    </div>
</div>


<div th:if="${not #lists.isEmpty(resumes)}">
    <div th:each="resume : ${resumes}" class="person-data">
        <div class="resume-title">
            <span th:text="${#strings.length(resume.title) > 60 ? #strings.substring(resume.title, 0, 50) + '...' : resume.title}"></span>

            <span th:if="${resume.wages != null}" th:text="'от '+ ${resume.wages} + ' рублей'"></span>
            <span th:unless="${resume.wages != null}">Заработная плата договорная</span>
        </div>
        <div class="text">
            <span class="label">Имя:</span>
            <span th:text="${resume.name}"></span>
        </div>
        <div class="text">
            <span class="label">Навыки:</span>
            <span th:if="${resume.skills != null}">
                    <span th:utext="${#strings.length(resume.skills) &lt;= 200 ? resume.skills : resume.skills.substring(0, 200) + '...'}"></span>
            </span>
            <span th:unless="${resume.skills != null}">Не известно</span>
        </div>
    </div>
</div>

<div>
    <div class="page-buttons">
        <span>
            <a id="endPageLink" class="page-link" href="#"><< End Page</a>
            <script type="text/javascript" th:src="@{/js/endPage.js}"></script>
        </span>
        <span>
            <a id="nextPageLink" class="page-link" href="#">Next Page >></a>
            <script type="text/javascript" th:src="@{/js/nextPage.js}"></script>
        </span>
    </div>
</div>

<footer class="site-footer">
    <div class="footer-images">
        <span>
            <a href="https://t.me/JaroslavZuban">
                <img th:src="@{/image/telegram.svg}" src="../static/image/telegram.svg" alt="Image 1"
                     class="footer-image">
            </a>
        </span>

        <span>
            <a href="https://github.com/YaroslavZuban">
                <img th:src="@{/image/github.svg}" src="../static/image/github.svg" alt="Image 2" class="footer-image">
            </a>
        </span>
        <span>
            <a href="https://vk.com/zuban7029">
                <img th:src="@{/image/vk.svg}" src="../static/image/vk.svg" alt="Image 3" class="footer-image">
            </a>
        </span>
    </div>
</footer>
</body>
</html>
