<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Соискатели</title>
    <link rel="stylesheet" href="/static/css/resume_list.css" th:href="@{/css/resume_list.css}">
    <link rel="stylesheet" href="/static/css/header_styles.css" th:href="@{/css/header_styles.css}">
    <link rel="stylesheet" href="/static/css/basement.css" th:href="@{/css/basement.css}">
</head>
<body>
<div class="header">
    <div class="header-logo">
        <img src="/static/image/logo.png" th:src="@{/image/logo.png}" alt="">
        <span class="search-text">Поиск соискателей</span>
    </div>
</div>

<div th:if="${not #lists.isEmpty(resumes)}">
    <div th:each="resume : ${resumes}" class="person-data">
        <div class="resume-title">
            <span th:text="${#strings.length(resume.title) > 60 ? #strings.substring(resume.title, 0, 50) + '...' : resume.title}"></span>

            <span th:if="${resume.wages != null}" th:text="'от '+ ${resume.wages} + ' рублей'"></span>
            <span th:unless="${resume.wages != null}">Заработная плата договорная</span>
        </div>
        <div class="text">
            <span class="label">Имя:</span>
            <span th:text="${resume.name}"></span>
        </div>
        <div class="text">
            <span class="label">Навыки:</span>
            <span th:if="${resume.skills != null}"
                  th:text="${resume.skills.substring(0, resume.skills.lastIndexOf(' ', 200))} + '...'"></span>
            <span th:unless="${resume.skills != null}">Не известно</span>
        </div>
    </div>
</div>

<div>
    <div class="page-buttons">
        <span>
            <a id="endPageLink" class="page-link" href="#"><< End Page</a>
            <script type="text/javascript" th:src="@{/js/endPage.js}"></script>
        </span>
        <span>
            <a id="nextPageLink" class="page-link" href="#">Next Page >></a>
            <script type="text/javascript" th:src="@{/js/nextPage.js}"></script>
        </span>
    </div>
</div>

<footer class="site-footer">
    <div class="footer-images">
        <span>
            <a href="https://t.me/JaroslavZuban">
                <img th:src="@{/image/telegram.svg}" src="../static/image/telegram.svg"  alt="Image 1" class="footer-image">
            </a>
        </span>

        <span>
            <a href="https://github.com/YaroslavZuban">
                <img th:src="@{/image/github.svg}" src="../static/image/github.svg" alt="Image 2" class="footer-image">
            </a>
        </span>
        <span>
            <a href="https://vk.com/zuban7029">
                <img th:src="@{/image/vk.svg}" src="../static/image/vk.svg" alt="Image 3" class="footer-image">
            </a>
        </span>
    </div>
</footer>
</body>
</html>
