<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    -- Тут идет подключение CSS файлов --
    <meta charset="UTF-8">
    <title>Соискатели</title>
    <link rel="stylesheet" href="/static/css/resume_list.css" th:href="@{/css/resume_list.css}">
    <link rel="stylesheet" href="/static/css/header_styles.css" th:href="@{/css/header_styles.css}">
    <link rel="stylesheet" href="/static/css/basement.css" th:href="@{/css/basement.css}">
    <link rel="stylesheet" href="/static/css/filter.css" th:href="@{/css/filter.css}">
    <link rel="stylesheet" href="/static/css/button.css" th:href="@{/css/button.css}">
    <link rel="stylesheet" href="/static/css/resume.css" th:href="@{/css/resume.css}">
</head>
<body>
-- Шапка сайта --
<div class="header">
    <div class="header-logo">
        <img src="/static/image/logo.png" th:src="@{/image/logo.png}" alt="">
        <span class="search-text">Поиск соискателей</span>
    </div>
</div>

-- проверяем что резюме вернулось --
<div th:if="${resume != null}">

    -- Выводим главную информацио о соискателе --
    <div class="island">
        <div class="field-wrapper">
            <strong class="field-title">Имя:</strong>
            <span th:text="${resume.name}"></span>
        </div>

        <div class="field-wrapper" th:if="${resume.getBirthData() != null}">
            <strong class="field-title">Дата рождения:</strong>
            <span th:text="${resume.getBirthData()}"></span>
        </div>

        <div class="field-wrapper">
            <strong class="field-title">Вакансия:</strong>
            <span th:text="${resume.title}"></span>
        </div>

        <div class="field-wrapper" th:if="${resume.wages != null}">
            <strong class="field-title">Заработная плата:</strong>
            <span th:text="'от ' + ${resume.wages} + ' рублей'"></span>
        </div>
        <div class="field-wrapper" th:unless="${resume.wages != null}">
            <strong class="field-title">Заработная плата:</strong>
            <span>Договорная</span>
        </div>

        <div class="field-wrapper" th:if="${resume != null and resume.getGender() != null}">
            <strong class="field-title">Пол:</strong>
            <span th:text="${resume.getGender().getType()}"></span>
        </div>

        <div class="field-wrapper" th:if="${resume != null and resume.getHabitation() != null}">
            <strong class="field-title">Город проживания:</strong>
            <span th:text="${resume.getHabitation().getCity()}"></span>
        </div>

        -- Выводим график работы соискателя --
        <div class="field-wrapper" th:if="${resume.getWorkSchedule() != null}">
            <strong class="field-title">График работы:</strong>

            <div class="field-value" th:each="work_schedule, work_stat : ${resume.getWorkSchedule()}">
                <span th:text="${work_schedule.getWorkType()}"></span>
                <span th:if="${!work_stat.last}">,</span>
            </div>
        </div>

        -- Выводим гражданства соискателя --
        <div class="field-wrapper" th:if="${resume.getCitizenshipType() != null}">
            <strong class="field-title">Гражданство:</strong>

            <div class="field-value" th:each="citizenship_type : ${resume.getCitizenshipType()}">
                <span th:text="${citizenship_type.getName()}"></span>
            </div>
        </div>
    </div>

    -- Выводим историю работы соискателя --
    -- Получаем список историй работ и их переработываем в массиве чтобы вывести каждую --
    <div class="work-history" th:if="${resume.getExperienceList() != null}">
        <h1 class="island-title">Опыт работы</h1>
        <div>
            <div class="island" th:each="work_history : ${resume.getExperienceList()}">
                <div class="field-wrapper" th:if="${work_history.getCompany() != null}">
                    <strong class="field-title">Компания:</strong>
                    <span class="field-value" th:text="${work_history.getCompany()}"></span>
                </div>

                <div class="field-wrapper" th:if="${work_history.getPost() != null}">
                    <strong class="field-title">Должность:</strong>
                    <span class="field-value" th:text="${work_history.getPost()}"></span>
                </div>

                <div class="field-wrapper" th:if="${work_history.getResponsibilities() != null}">
                    <strong class="field-title">Обязанности:</strong>
                    <span class="field-value" th:text="${work_history.getResponsibilities()}"></span>
                </div>
            </div>
        </div>
    </div>

    -- Выводим образование соискателя --
    -- Получаем список и выводи всю информацию об образовании соискателя--
    <div th:if="${resume.getSpecifications() != null}">
        <h1  class="island-title">Образование</h1>
        <div class="island" >
            <div th:each="specification : ${resume.getSpecifications()}">
                <div class="field-wrapper" th:if="${specification.getEducationType() != null}">
                    <strong class="field-title">Тип образования:</strong>
                    <span th:text="${specification.getEducationType().getEducationLevel()}"></span>
                </div>

                <div class="field-wrapper" th:if="${specification.getEducationalInstitution() != null}">
                    <strong class="field-title">Институт:</strong>
                    <span th:text="${specification.getEducationalInstitution()}"></span>
                </div>

                <div class="field-wrapper" th:if="${specification.getDirection() != null}">
                    <strong class="field-title">Специальность:</strong>
                    <span th:text="${specification.getDirection()}"></span>
                </div>

                <div class="field-wrapper" th:if="${specification.getEnding() != null}">
                    <strong class="field-title">Год окончания:</strong>
                    <span th:text="${specification.getEnding()}"></span>
                </div>
            </div>
        </div>
    </div>

    -- Выводим дополнительную информацию о соискателе --
    <div th:if="${resume.getInformation() != null}">
        <h1 class="island-title">Дополнительная информация</h1>
        <div class="island" >
            <div class="field-wrapper" th:if="${resume.getInformation().getCourses() != null}">
                <strong class="field-title">Курсы:</strong>
                <span th:text="${resume.getInformation().getCourses()}"></span>
            </div>

            <div class="field-wrapper" th:if="${resume.getInformation().getSkills() != null}">
                <strong class="field-title">Навыки:</strong>
                <span  class="field-value" th:text="${resume.getInformation().getSkills()}"></span>
            </div>

            <div class="field-wrapper" th:if="${resume.getInformation().getAboutMe() != null}">
                <strong class="field-title">Обо мне:</strong>
                <span  class="field-value" th:text="${resume.getInformation().getAboutMe()}"></span>
            </div>

            -- Выводим иностранный языки и уровень их владея соискателя --
            <div class="field-wrapper" th:if="${resume.getInformation().getLanguages() != null and resume.getInformation().getLevels() != null}">
                <strong class="field-title">Иностранные языки:</strong>
                <div  class="field-value" th:each="language, index : ${resume.getInformation().getLanguages()}">
                    <span th:text="|${language.getName()} (${resume.getInformation().getLevels().get(index.index).getKnowledgeLevel()})|"></span>
                    <span th:if="${!index.last}">,</span>
                </div>
            </div>

            -- Выводим готовность к командировкам соискателя --
            <div class="field-wrapper" th:if="${resume.getInformation().getBusinessTrips() != null}">
                <strong class="field-title">Готовность к командировкам:</strong>
                <span  class="field-value" th:text="${resume.getInformation().getBusinessTrips().getReadiness()}"></span>
            </div>

            -- Выводим водительские удостоверения соискателя --
            <div class="field-wrapper" th:if="${resume.getInformation().getCategoryList() != null and !resume.getInformation().getCategoryList().isEmpty()}">
                <strong class="field-title">Вводительские права:</strong>

                <div  class="field-value" th:each="category, index : ${resume.getInformation().getCategoryList()}">
                    <span th:text="${category.getCategory()}"></span>
                    <span th:if="${!index.last}">,</span>
                </div>
            </div>
        </div>
    </div>
</div>

-- Подвал сайта --
<footer class="site-footer">
    <div class="footer-images">
        <span>
            <a href="https://t.me/JaroslavZuban">
                <img th:src="@{/image/telegram.svg}" src="../static/image/telegram.svg" alt="Image 1"
                     class="footer-image">
            </a>
        </span>

        <span>
            <a href="https://github.com/YaroslavZuban">
                <img th:src="@{/image/github.svg}" src="../static/image/github.svg" alt="Image 2" class="footer-image">
            </a>
        </span>
        <span>
            <a href="https://vk.com/zuban7029">
                <img th:src="@{/image/vk.svg}" src="../static/image/vk.svg" alt="Image 3" class="footer-image">
            </a>
        </span>
    </div>
</footer>
</body>
</html>
