/* Стили для обертки кнопок */
.button-wrapper {
    margin-top: 16px;
    width: 800px;
    gap: 12px;
    display: flex;
    justify-content: space-between; /* Распределение кнопок равномерно по ширине */
    margin: auto; /* Центрирование по горизонтали */
}

/* Стили для контейнера овала */
.oval-container-analysis {
    padding: 10px;
    display: block;
    border: 2px solid #0FB55F;
    border-radius: 32px;
    position: relative; /* Позиционирование элемента относительно его родителя */
}

/* Стили для кнопок внутри овала */
.custom-button {
    background-color: transparent; /* Прозрачный цвет фона */
    color: #0FB55F; /* Зеленый цвет текста */
    padding: 10px 15px; /* Внутренние отступы */
    border: 2px solid #0FB55F; /* Зеленая обводка */
    border-radius: 50px; /* Создание овальной формы */
    cursor: pointer; /* Изменяем курсор при наведении */
    margin: 10px;
    transition: background-color 0.3s, transform 0.3s, color 0.3s; /* Плавные анимации для цвета фона, масштаба и цвета текста */
}


/* Стили для текста "Анализ" на контуре овала */
.oval-container-analysis::after {
    content: "Анализ учебного заведения"; /* Добавляем текстовое содержимое */
    position: absolute; /* Абсолютное позиционирование */
    top: -20px; /* Положение по вертикали с учетом смещения вверх */
    left: 50%; /* Положение по горизонтали */
    transform: translateX(-50%); /* Центрирование по горизонтали */
    color: #0FB55F; /* Зеленый цвет текста */
    font-size: 14px; /* Размер шрифта */
    font-weight: bold; /* Жирный шрифт */
    white-space: nowrap; /* Предотвращаем перенос текста на новую строку */
}

/* Стили для контейнера кнопок "Очистить" и "Поиск" */
.clear-search-buttons {
    padding: 10px;
    display: block;
    border: 2px solid #0FB55F;
    border-radius: 32px;
    cursor: pointer; /* Изменяем курсор при наведении */
    align-items: center; /* Выравнивание элементов по вертикали */
}

/* Стили для текста "Действие" на контуре овала */
.clear-search-buttons::after {
    content: "Действие"; /* Добавляем текстовое содержимое */
    position: absolute; /* Абсолютное позиционирование */
    top: -20px; /* Положение по вертикали с учетом смещения вверх */
    left: 50%; /* Положение по горизонтали */
    transform: translateX(-50%); /* Центрирование по горизонтали */
    color: #0FB55F; /* Зеленый цвет текста */
    font-size: 14px; /* Размер шрифта */
    font-weight: bold; /* Жирный шрифт */
    white-space: nowrap; /* Предотвращаем перенос текста на новую строку */
}

/* Стили для наведения на кнопки в контейнере "Очистить" и "Поиск" */
.clear-search-buttons .custom-button:hover {
    background-color: #0FB55F; /* Зеленый цвет фона */
    color: white; /* Белый цвет текста */
    transform: scale(1.2); /* Увеличиваем размер кнопки при наведении */
}

/* Стили для наведения на кнопки */
.custom-button:hover {
    background-color: #4CAF50; /* Зеленый цвет фона */
    color: white; /* Белый цвет текста */
    transform: scale(1.2); /* Увеличиваем размер кнопки при наведении */
}
