/* Стили для всей страницы */
body {
    background-color: #111111; /* Цвет фона страницы */
    color: #ffffff; /* Цвет текста */
}

/* Стили для формочки вакансии */
.person-data {
    border: 1px solid transparent; /* Прозрачная рамка */
    padding: 20px; /* Отступы внутри формочки */
    margin: 20px auto 0; /* Отступ сверху, выравнивание по центру */
    margin-bottom: 20px;
    background-color: #262626; /* Цвет фона формочки */
    transition: border-color 0.3s ease; /* Плавное изменение цвета рамки */
    width: 50%; /* Ширина формочки (можете настроить по своему усмотрению) */
    border-radius: 10px; /* Закругление углов */
    display: flex; /* Отображение элементов в столбце */
    flex-direction: column; /* Расположение элементов в столбце */
    align-items: flex-start; /* Выравнивание элементов по левому краю */
}

/* Стили для заголовка резюме */
.resume-title {
    display: flex;
    justify-content: space-between;
    font-size: 16px; /* Большой размер текста */
    font-weight: bold; /* Жирный текст */
    margin-bottom: 10px; /* Отступ снизу заголовка */
    width: 100%; /* Ширина заголовка (можете настроить по своему усмотрению) */
    word-wrap: break-word; /* Перенос длинных слов */
    white-space: nowrap; /* Запрет переноса строки */
    overflow: hidden; /* Скрытие лишнего контента */
    text-overflow: ellipsis; /* Отображение многоточия при обрезании текста */
    transition: font-size 0.3s ease, color 0.3s ease; /* Плавное изменение размера и цвета */
}

/* Стили для текста меток */
.label {
    font-weight: bold;
}

/* Стили для остального текста */
.text {
    font-size: 14px; /* Меньший размер текста */
    margin-bottom: 5px; /* Отступ снизу для остального текста */
}

/* Стили для заголовка ЗП */
.wage {
    font-weight: bold; /* Жирный текст */
    margin-right: 10px; /* Отступ справа */
    margin-bottom: 10px; /* Отступ снизу заголовка */
}

/* Стили при наведении на формочку вакансии */
.person-data:hover {
    border-color: #0FB55F; /* Цвет рамки при наведении */
    box-shadow: 0 20px 20px -20px #0FB55F; /* Тень снизу вверх с зеленым цветом */
}

/* Стили для контейнера заголовка ЗП и самой ЗП */
.wage-container {
    display: flex; /* Отображение элементов в строке */
    align-items: center; /* Выравнивание элементов по вертикали */
}

/* Стили для заголовка резюме при наведении мыши */
.person-data:hover .resume-title {
    font-size: 18px; /* Увеличение размера текста */
    color: #0FB55F; /* Изменение цвета текста */
}